.cf:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.cf { display: inline-block; }
/* start commented backslash hack \*/
* html .cf{ height: 1%; }
.cf { display: block; }
/* close commented backslash hack */

#modelmetadiv .row {
	float: left;
	margin-right: 40px;
}

#modelmetadiv .row label {
	font-weight: bold;
	display: block;
}

.PageContent {
    padding: 20px;
}

.PageContent--BookingProcess{
    float: left;
    /*width: 640px;*/
    width: 66.6%;
    max-width: 640px;
}
.PageContent--BookingProcess-step{
    margin-bottom: 4em;
}
.PageContent--BookingProcess-step-headline{
    font-size: 1.25rem; /* 20px / 16px */
    text-transform: uppercase;
    color: #fff;
    padding: 1em 0 1em 11.5em;
    margin-bottom: 1.2em;
    background: url(../images/arrow_step.png) no-repeat 0 center, #221f1f;
}
.PageContent--BookingProcess-step-headline span{
    font-weight: bold;
    text-transform: none;
    color: #221f1f;
    position: absolute;
    left: 2.6em;
}
.PageContent--BookingProcess .BookingForm select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    height: inherit;
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    border: 8px solid #dcc06c;
    webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: url(../images/arrow_down.png) no-repeat 98% center, #fff;
}
.PageContent--BookingProcess .BookingForm .service-cat{
    list-style: none;
    margin: 0 0 1.5em;
}
.PageContent--BookingProcess .BookingForm .service-cat li{
    cursor: pointer;
    float: left;
    /*width: 193px;
    margin-right: 30px;*/
    width: 32%;
    margin-right: 2%;
    text-align: center;
    padding: 1.2em;
    background: #e6e6e6;
    transition: all .3 ease;
}
.PageContent--BookingProcess .BookingForm .service-cat li:last-child{
    margin-right: 0;
}
.PageContent--BookingProcess .BookingForm .service-cat li.active,
.PageContent--BookingProcess .BookingForm .service-cat li:hover{
    background: #dcc06c;
}
.PageContent--BookingProcess .BookingForm .service{
    list-style: none;
    margin: 0;
}
.PageContent--BookingProcess .BookingForm .service > li{
    margin-bottom: 0.25em;
}
.PageContent--BookingProcess .BookingForm .service .service-title{
    cursor: pointer;
    display: block;
    padding: 0.8em 1.5em;
    background: url(../images/arrows_up-down.png) no-repeat 97% 0, #e6e6e6;
    transition: all .3s ease;
}
.PageContent--BookingProcess .BookingForm .service li.active .service-title,
.PageContent--BookingProcess .BookingForm .service .service-title:hover{
    background: url(../images/arrows_up-down.png) no-repeat 97% 100%, #dcc06c;
}
.PageContent--BookingProcess .BookingForm .service .service-content{
    font-size: 0.875rem; /* 14px / 16px */
    padding: 1.7em 1.7em 0;
    background: #e6e6e6;
}
.PageContent--BookingProcess .BookingForm .service .service-content strong{
    display: block;
    font-size: 1rem;
    margin-bottom: 1em;
}
.PageContent--BookingProcess .BookingForm .service .service-content .button{
    cursor: pointer;
    display: inline-block;
}
.PageContent--BookingProcess .BookingForm .service .service-content .button .fa{
    margin-right: 0.5em;
}
.PageContent--BookingProcess .BookingForm .model{
    list-style: none;
    margin: 0;
}
.PageContent--BookingProcess .BookingForm .model li{
    cursor: pointer;
    float: left;
    position: relative;
    width: 176px;
    margin: 0 30px 24px 0;
}
.PageContent--BookingProcess .BookingForm .model li:nth-child(3n){
    margin-right: 0;
}
.PageContent--BookingProcess .BookingForm .model li .addToWishlist{
    position: absolute;
    right: -3px;
    top: -2px;
    text-indent: -9999em;
    width: 30px;
    height: 30px;
    background: url(../images/add_to_wishlist.png) no-repeat 0 0, #000;
}
.PageContent--BookingProcess .BookingForm .model li:hover .addToWishlist{
    background: url(../images/add_to_wishlist.png) no-repeat 0 -30px, #000;
}
.PageContent--BookingProcess .BookingForm .model li.added .addToWishlist{
    background: url(../images/add_to_wishlist.png) no-repeat 0 -60px, #000;
}
.PageContent--BookingProcess .BookingForm .model li.added:hover .addToWishlist{
    background: url(../images/add_to_wishlist.png) no-repeat 0 -90px, #000;
}
.PageContent--BookingProcess .BookingForm .model li span.model-name {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: #dcc06d;
    width: 100%;
    padding: 0.7em 0;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
}
.PageContent--BookingProcess-step.StepThree input[type=submit]{
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #221f1f;
    width: 100%;
    padding: 0.75em 0;
    border: none;
    border-radius: 0;
    background: #dcc06c;
    transition: all .3s ease;
    -webkit-appearance: none;
}
.PageContent--BookingProcess-step.StepThree input[type=submit]:hover{
    color: #dcc06c;
    background: #221f1f;
}

.StepThree--formActions form{
    float: left;
    width: 31.33333333%%;
    margin: 0 3% 0 0;
}
.StepThree--formActions form:last-child{
    margin-right: 0;
}


.formWrapper {
    position: relative;
}

/* SIDEBAR */
.PageContent--sidebar{
    float: left;
    /*width: 240px;*/
    width: 25%;
    max-width: 240px;
    margin-left: 5%;
}

.PageContent--sidebar form {
  width: 100%;
  margin-bottom: 5%;
}

.PageContent--sidebar .PageContent--BookingProcess-step.StepThree {
  margin-bottom: 0;
}

/* CART */
.PageContent--sidebar-cart-headline{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #dcc06c;
    padding-bottom: 0.3em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #dcc06c;
}
.PageContent--sidebar-cart-headline span.icon{
    float: right;
}
.PageContent--sidebar-cart-headline--text {
    float: left;
}
#cartContents {
    position: relative;
}
.cart-loader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: 1s all ease;
}
.cart-loader.show {
  opacity: 1;
  z-index: 2;
}
img.cart-loader--spinner {
  margin: auto;
  display: block;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

@-webkit-keyframes spinnerRotate {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}
@-moz-keyframes spinnerRotate {
    from {
        -moz-transform:rotate(0deg);
    }
    to {
        -moz-transform:rotate(360deg);
    }
}
img.cart-loader--spinner{
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    background: rgba(255, 255, 255, 0.1);
}

.CartItem{
    position: relative;
    font-size: 0.875rem; /* 14px / 16px */
    margin-bottom: 2em;
}
.CartItem--remove {
    font-weight: bold;
    /*position: absolute;
    right: 0;*/
    font-size: 25px;
    /*top: 27px;*/
    cursor: pointer;
    margin-top: -20px;
    float: right;
}
.CartItem--amount select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;

    font-size: 1em;
    width: 20%;
    padding: 0 4px;
    margin: 0 0 0.4em 0.5em;
    border: 2px solid #dcc06c;
    webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: url(../images/arrow_down.png) no-repeat 94% center, #fff;
    background-size: 30%;

}
.CartItem--amount > span,
.CartItem--amount > select {
    float: left;
}
.CartItem--amount > select + div > span:not(.subtotal){
    clear: both;
    float: left;
}
.CartItem--amount > select + div > select{
    float: left;
}
.CartItem:last-child{
    margin-bottom: 1.5em;
}
.CartItem--title{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 0.2em 6px;
    margin-bottom: 0.5em;
    margin-bottom: 2em;
    background: #221f1f;
}
.CartItem--amount input[type=number]{
    width: 2em;
    margin: 0 0.5em 1em 0;
}
.CartItem--amount span.subtotal{
    float: right;
    font-weight: bold;
}
.CartItem--amount:after{
    content: " ";
    clear: both;
    float: none;
    display: block;
}
.CartItem--wishlist{
    margin-top: 1em;
}
.CartItem--wishlist-title{
    text-transform: uppercase;
    color: #dcc06c;
}
.CartItem--wishlist-title span{
    margin-right: 0.75em;
}
.CartItem .wishlist{
    list-style: disc;
    margin: 0 0 0 3em;
}
.CartTotal{
    padding-top: 0.5em;
    border-top: 1px solid #221f1f;
}
.CartTotal button{
    cursor: pointer;
    font-size: 0.875rem; /* 14px / 16px */
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.8em 1em;
    margin: 0 0 1em 0;
    border: none;
    background: #e6e6e6;
    transition: all .3s ease;
}
.CartTotal button:hover{
    color: #e6e6e6;
    background: #221f1f;
}
.CartTotal button.checkout{
    background: #dcc06c;
}
.CartTotal button.checkout:hover{
    color: #dcc06c;
    background: #221f1f;
}
.CartTotal button.ViewCart{
    float: right;
}
.CartSum{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 1em;
    margin: 0.5em 0;
}
.CartSum:last-child{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: .9em 1em;
    background: #221f1f;
}
.CartSum span.value{
    float: right;
}
#checkout-actions,
#cart-actions {
    display: none;
}
.post-type-order #edit-slug-box {
    display: none;
}