/*
Theme Name: Spicy Brocoli Base Theme
Theme URI: http://spicybroccoli.com
Description: Spicy Broccoli template for WordPress sites. Good for you company's health!
Author: Spicy Broccoli Media
Author URI: http://spicybroccoli.com/
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

img {
	vertical-align: bottom;
}

.cf:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}


/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

.panel {
	width: 100%;
	position: relative;
}

.panel__dark {
	background: #221f1f;
}

.panel__black {
	background: #000;
}

.panel:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .panel             { zoom: 1; } /* IE6 */
*:first-child+html .panel { zoom: 1; } /* IE7 */

#container {
	float: left;
	margin: 0;
	width: 75%;
}
#content {
	margin: 0;
	width: 95%;
}
#primary,
#secondary {
	float: right;
	overflow: hidden;
	width: 220px;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}

/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	margin: 0 auto;
	width: 640px;
}

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
	margin: 0 auto;
	width: 900px;
}


/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
}
input[type="submit"] {
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}


/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#access .menu-header,
div.menu,
#colophon,
#branding,
#main {
	margin: 0 auto;
	width: 100%;
}
.wrapper {
	position: relative;
	width: 100%;
	max-width: 1000px;
	padding: 0 20px;
	margin: 0 auto;
}
.panel > .wrapper{
	padding: 70px 20px;
}
.panel.SiteHeader > .wrapper{
	padding: 0 20px;
}

/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
#site-generator {
	float: right;
	width: 220px;
}
.SiteFooter .wrapper{
	padding: 40px 0;
}

.menu-footer{
	float: left;
	width: 75%;
}
.SiteFooter--menu ul{
	margin: 0;
}
.SiteFooter--menu > div >  ul > li {
	list-style: none;
	float: left;
	width: 33%;
	font-size: 1.125rem; /* 18px */
	color: #dcc06c;
	text-transform: uppercase;
	text-align: center;
}

.SiteFooter--menu ul > li:last-child {
	margin-right: 0;
}

.SiteFooter--menu ul > li  > ul {
	margin-top: 30px;
	font-size: 0.7778em; /* 14px */
	color: #b2b2b2;
	text-align: center;
	list-style: none;
	text-transform: none;
	margin-left: 0;
}

.SiteFooter--menu .phone {
	display: block;
	font-size: 24px; /* 1.5rem */
	color: #dcc06d;
	margin-bottom: 1em;
}

.SiteFooter .meta {
	float: right;
	width: 25%;
	font-size: 14px;
	text-transform: none;
	text-align: center;
	color: #b2b2b2;
}

.SiteFooter--colophon {
	margin-top: 20px;
	font-size: 12px;
	color: #e5e5e5;
	text-align: center;
}
.SiteFooter a,
.SiteFooter--colophon a{
	text-decoration: none;
	color: #dcc06d;
}
.SiteFooter a:hover,
.SiteFooter--colophon a:hover{
	text-decoration: underline;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
html, body{
	font-size: 16px; /* 1rem */
}
body {
	background: #fff;
}
body,
input,
textarea {
	color: #333;
	font-size: 16px; /* 1rem */
	line-height: 1.3em; /* 24px */
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Headlines */
h1, h2, h3, h4, h5{
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
}
h1,
h2{
	font-size: 3.625rem; /* 58px / 16px */
	line-height: 1em;
	text-align: center;
	text-transform: uppercase;
	color: #dcc06c;
}
h1{
	margin-bottom: 0.75em;
}
h2{

}
h3{
	font-size: 1.875rem; /* 30px / 16px */
	line-height: 1em;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}
h4{
	font-size: 1.125rem; /* 18px / 16px */
	line-height: 1.16em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}
h5{

}

.panel__dark h1, .panel__dark h2, .panel__dark h3, .panel__dark h4, .panel__dark h5{
	color: #fff;
}


/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}

.PageContent a {
	font-weight: 600;
	text-decoration: none;
	color: #dcc06c;
	transition: all .3s ease;
}
.PageContent a:hover{
	color: #333;
}

/* BUTTONS */
.button{
	display: table;
	font-size: 0.875rem; /* 14px / 16px */
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #dcc06c;
	padding: 0.8em 6em;
	margin: 1em 0;
	border: none;
	background: #221f1f;
	transition: all .3s ease;
}
.button:hover{
	color: #221f1f;
	background: #dcc06c;
}
.AddToWishlist,
.RemoveFromWishlist {
	cursor: pointer;
	display: block;
	text-align: center;
	padding: 0.8em 0;
}
.AddToWishlist .fa,
.RemoveFromWishlist .fa {
	margin-right: 0.5em;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}


/* =Header
-------------------------------------------------------------- */

.SiteHeader{
	height: 755px;
}
.SiteHeader--logo{
	position: absolute;
	left: -12px;
	z-index: 999;
}
.SiteHeader--meta{
	position: absolute;
	right: 20px;
	top: 45px;
	z-index: 999;
}
.SiteHeader--meta > *{
	float: right;
	margin-left: 14px;
}
.SiteHeader--meta a,
.SiteHeader--meta--phone{
	color: #dcc06c;
}
.SiteHeader--meta--phone{
	font-family: 'Open Sans Condensed', Arial, Verdana, sans-serif;
	font-size: 1.5em;
	font-weight: 700;
}
.SiteHeader--meta form input{
	font-size: 12px;
	padding: 1px 4px 1px 2px;
	border: none;
	border-radius: 0;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
}
::-webkit-input-placeholder{font-style: italic; color: #000;}
:-moz-placeholder{font-style: italic; color: #000;}
::-moz-placeholder{font-style: italic; color: #000;}
:-ms-input-placeholder{font-style: italic; color: #000;}

.SiteHeader--hero .slides {
	height: 700px;
	overflow: hidden;
}

.SiteHeader__page {
	height: 230px;
	background: url('http://dev.spicybroccolitesting.com.au/glamor/wp-content/uploads/2015/02/slide_01.jpg') no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}


/* =Menu
-------------------------------------------------------------- */
.SiteHeader--menu{
	position: absolute;
	top: 80px;
	z-index: 99;
	font-size: 1.1rem;
	width: 100%;
	padding: 0.9em 0;
	background: #ddd;
	background: rgba(0, 0, 0, 0.3);
}

.SiteHeader--menu ul{
	list-style: none;
	float: right;
	margin: 0;
}
.SiteHeader--menu ul:after{
	content: " ";
	clear: both;
	display: block;
}
.SiteHeader--menu ul > li{
	float: left;
	margin-left: 1.5em;
	position: relative;
}
.SiteHeader--menu ul li:first-child{
	margin-left: 0;
}
.SiteHeader--menu ul li a{
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}
.SiteHeader--menu ul li a:hover{
	color: #dcc06c;
}

#top-menu {
	display: none;
}

.SiteHeader--menu ul ul {
	display: none;
	position: absolute;
	top: 16px;
	left: -10px;
	width: 180px;
	z-index: 99999;
	padding-top: 20px;
}
.SiteHeader--menu ul ul li {
	min-width: 180px;
	background: rgba(0, 0, 0, 0.3);
	padding: 10px;
	margin-left: 0;
}
.SiteHeader--menu ul ul li a:hover {
	color: #dcc06c;
}
.SiteHeader--menu ul ul ul {
	left: 100%;
	top: 0;
}
.SiteHeader--menu ul ul a {

}
.SiteHeader--menu li:hover > a,
.SiteHeader--menu ul ul :hover > a {
	color: #fff;
}
.SiteHeader--menu ul li:hover > ul {
	display: block;
}
.SiteHeader--menu ul li.current_page_item > a,
.SiteHeader--menu ul li.current_page_ancestor > a,
.SiteHeader--menu ul li.current-menu-ancestor > a,
.SiteHeader--menu ul li.current-menu-item > a,
.SiteHeader--menu ul li.current-menu-parent > a {
	color: #dcc06c;
}
* html .SiteHeader--menu ul li.current_page_item a,
* html .SiteHeader--menu ul li.current_page_ancestor a,
* html .SiteHeader--menu ul li.current-menu-ancestor a,
* html .SiteHeader--menu ul li.current-menu-item a,
* html .SiteHeader--menu ul li.current-menu-parent a,
* html .SiteHeader--menu ul li a:hover {
	color: #fff;
}

/* =Metaslider
-------------------------------------------------------------- */
.SiteHeader--hero{
	position: absolute;
	top: 0;
	width: 100%;
}
.metaslider{
	margin: 0 auto;
}
.SiteHeader--hero .metaslider .caption-wrap{
	opacity: 1;
	bottom: 20px;
	background: none;
}
.SiteHeader--hero .metaslider .caption{
	text-align: right;
	max-width: 1000px;
	padding: 0 20px;
	margin: 0 auto;
}
.SiteHeader--hero .metaslider .caption span{
	display: inline-block;
	font-size: 1.875rem; /* 30px */
	font-weight: 300;
	text-transform: uppercase;
	padding: 0.7em 0.8em;
	margin-bottom: 0.2em;
	background: #dcc06c;
	background: rgba(220, 192, 108, 0.8);
}
.SiteHeader--hero .metaslider .caption span strong{
	font-weight: 600;
}
.SiteHeader--hero .metaslider .caption a{
	display: inline-block;
	font-size: 1.5rem; /* 24px */
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	padding: 0.7em 0.8em;
	background: #221f1f;
	background: rgba(34, 31, 31, 0.7);
	transition: all .5s ease;
}
.SiteHeader--hero .metaslider .caption a:hover{
	background: #000;
}
ul.slides[style] {
	 max-height: 755px !important;
}
.SiteHeader[style] {
	max-height: 755px !important;
}
.SiteHeader--hero .flex-control-paging li a{
	width: 12px;
	height: 12px;
	margin: 0 4px;
	background: #dbd5c3;
	box-shadow: none;
}
.SiteHeader--hero .flex-control-paging li a.flex-active,
.SiteHeader--hero .flex-control-paging li a:hover{
	background: #dcc06c;
}




/* =Content
-------------------------------------------------------------- */

#main {
	clear: both;
	overflow: hidden;
	padding: 40px 0 0 0;
}
#content {
	margin-bottom: 36px;
}
#content,
#content input,
#content textarea {
	color: #333;
	font-size: 16px;
	line-height: 24px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 24px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
#content .entry-title {
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
}
.entry-title a:link,
.entry-title a:visited {
	color: #000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-meta {
	color: #888;
	font-size: 12px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 12px 0 0 0;
}
#content p img {
		max-width: 100%;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	line-height: 48px;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	color: #888;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #ff4b33;
}
#content .video-player {
	padding: 0;
}



/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}



/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
	max-width: 100%;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}


/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;
	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin: 0 0 18px 0;
}
.widget-container .wp-caption img {
	margin: auto;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 20px 0 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}
#primary {
}
#secondary {
}

/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- */

#footer {
	color: #fff;
	background: #000;
}
#colophon {
	border-top: 4px solid #000;
	margin-top: -4px;
	overflow: hidden;
	padding: 18px 0;
}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}




/* =FRONT PAGE
-------------------------------------------------------------- */



/* =CTA BLOCK
-------------------------------------------------------------- */
.CTABlockWrapper {
	float: left;
	margin: 0;
	width: 100%;
}
.CTABlock {
	height: auto;
	list-style: none;
	float: left;
	/*width: 175px;
	height: 350px;
	margin-right: 15px;*/
	width: 18.2%;
	margin-right: 2.25%;
}
.CTABlock:last-child {
	margin-right: 0;
}
.CTABlock--title {
	height: 65px;
	margin-bottom: 15px;
}
.CTABlock--title h3 {
	font-size: 1.5rem; /* 24px */
	line-height: 1.3em;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	color: #c2aa61;
}
.CTABlock--FeatImg {
	position: relative;
	display: block;
}
.CTABlock--FeatImg img {
	/*position: absolute;
	max-width: none;*/
}
.CTABlock--FeatImg--Overlay {
	position: absolute;
	top: 0;
	height: 290px;
	width: 101%;

	background: rgba(0,0,0,0.7);
	color: #fff;
	display: table;
	opacity: 0;
	transition: 0.5s all ease;
}
.CTABlock--FeatImg:hover .CTABlock--FeatImg--Overlay {
	opacity: 1;
}
.CTABlock--FeatImg--Overlay span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 1.25rem; /* 20px */
	line-height: 1.3em;
	font-weight: 100;
	text-transform: uppercase;
	padding: 1em;
}


/* =BOOK ONLINE WIDGET
-------------------------------------------------------------- */
.BookOnlineWidget--form select {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border: 8px solid #dcc06c;
	webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	background: url(images/arrow_down.png) no-repeat 98% center, #fff;
}
.BookOnlineWidget--form select option{
	text-align: center;
}
.BookOnlineWidget--title {
	display: table;
	width: 100%;
	height: 125px;
	margin-bottom: 30px;
	background: url('http://dev.spicybroccolitesting.com.au/glamor/wp-content/themes/spicybroccoli/images/star.png') no-repeat 50% 50%;
}
.BookOnlineWidget--title h2{
	display: table-cell;
	vertical-align: middle;
}
.SteppedProgressBar ul{
	list-style: none outside none;
	width:100%;
	padding:0;
	margin:0 !important;
}
.SteppedProgressBar ul li{
	float: left;
	position:relative;
	height:90px; /* double arrow wrapper height */
    	overflow: hidden;
    	display: table;
	background:#92804d;
}
.SteppedProgressBar ul li.active {
	background:#e2c56f;
}
.SteppedProgressBar ul li .arrow-background {
	position:absolute;
	display:inline-block;
	right:0;	
}
.SteppedProgressBar ul li.active .arrow-background {
	background:#92804d;
}
.SteppedProgressBar ul li .step-text {
	vertical-align:middle;
	overflow: hidden;
	display: table-cell;
	font-family: 'Open Sans Condensed';
	font-size: 1.25rem; /* 20px */
	line-height: 1.2em;
	text-transform: uppercase;
	text-align: center;
	color:#000;
	height: 36px; /* double arrow wrapper height */
	padding: 0 1.25em 0 0;
	margin-top: 0.5em;
}
.SteppedProgressBar ul li .step-text strong {
	display: block;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	text-transform: none;
}

.SteppedProgressBar ul li span.arrow-wrapper {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-top: 45px solid transparent;
	border-bottom: 45px solid transparent;
	border-left: 45px solid #000;
}
.SteppedProgressBar ul li span.arrow {
	display: block;
	position: absolute;
	top: -45px;
	left: -45px;
	width: 0;
	height: 0;
	border-top: 45px solid transparent;
	border-bottom: 45px solid transparent;
	border-left: 45px solid #92804d;
}
.SteppedProgressBar ul li.active span.arrow,
.SteppedProgressBar ul li.last.active span.arrow-wrapper {
	border-left: 45px solid #e2c56f;
}

/* set the width for the 3 step bar */
.SteppedProgressBar ul li {
	width: 33.3%;
}



/* =CONTACT WIDGET
-------------------------------------------------------------- */
.ContactWidget {
	width: 84%;
	max-width: 800px;
	margin: 0 auto;
}
.ContactWidget--title {
	margin-bottom: 50px;
}
.ContactWidget--form .column {
	float: left;
	width: 47.5%;
	margin-right: 5%;
}

.ContactWidget--form .column:nth-of-type(odd) {
	margin-right: 0;
}

.ContactWidget--form .row {
	margin-bottom: 20px;
}
.ContactWidget--form label {
	display: block;
	font-size: 1.125rem; /* 18px */
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0.3em;
}
.ContactWidget--form input,
.ContactWidget--form textarea {
	display: block;
	width: 100%;
	padding: 0.5em;
	border: 3px solid #e3cd89;
	outline: none;
	border-radius: 0;
	background: #fff;
	box-shadow: none;
	-webkit-appearance: none;
}
.ContactWidget--form input[type="submit"] {
	cursor: pointer;
	font-size: 1.125rem; /* 18px */
	text-transform: uppercase;
	color: #fff;
	border: 0;
	background: #484848;
	padding: 0.6em;
	border-radius: 0;
	transition: all .3s ease;
	-webkit-appearance: none;
}
.ContactWidget--form input[type="submit"]:hover{
	color: #322f30;
	background: #e3cd89;
}
.ContactWidget--form .column:last-child {
	margin-right: 0;
}




/* =INTERNAL PAGES
-------------------------------------------------------------- */
.PageContent--title{
	margin-bottom: 4.5em;
}
.PageContent--title p{
	font-size: 1.125rem; /* 18px / 16px */
	line-height: 1.3em; /* 24px */
	text-align: center;
	width: 67%;
	max-width: 640px;
	margin: 0 auto;
	margin-bottom: 24px;
}
.PageContent--Location{
	position: relative;
	top: -2.7em;
	font-size: 0.875rem; /* 14px / 16px */
}
.PageContent--Location p{
	text-align: center;
	margin-bottom: 0.8em;
}
.PageContent--Location form{
	text-align: center;
}
.PageContent--Location select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor: pointer;

	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	padding: 8px 3em 8px 10px;
	border: none;
	webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: url(images/arrow_down-grey.png) no-repeat 90% center, #dcc06c;
}


/* STRIPPERS and MODELS PAGE */
.ModelSelectionForm{
	font-size: 0.875rem; /* 14px / 16px */
	padding-bottom: 1em;
	margin-bottom: 30px;
	border-bottom: 1px solid #dcc06d;
}
.ModelSelectionForm .gender{
	list-style: none;
	margin: 0;
}
.ModelSelectionForm .gender li{
	cursor: pointer;
	float: left;
	padding: 0.55em 1em;
	margin-right: 0.5em;
}
.ModelSelectionForm .gender li a {
	text-decoration: none;
	color: #333;
}
.ModelSelectionForm .gender li:hover,
.ModelSelectionForm .gender li.active{
	background: #dcc06c;
}
.ModelSelectionForm select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	float: right;
	cursor: pointer;

	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	padding: 8px 3em 8px 10px;
	border: none;
	webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: url(images/arrow_down-grey.png) no-repeat 90% center, #dcc06c;
}
.ModelList{
	list-style: none;
	margin: 0;
}
.ModelList li img {
	max-width: 100%;
	height: auto;
}
.PageContent--ModelList .ModelList{
	border-bottom: 1px solid #dcc06d;
}
.ModelList li{
	float: left;
	position: relative;
	/*width: 175px;
	height: 290px;
	margin: 0 20px 30px 0;*/
	width: 18.2%;
	height: auto;
	margin: 0 2.25% 2.25% 0;
}
.ModelList li:nth-child(5n){
	margin-right: 0;
}
.ModelListItem--Name{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1rem;
	text-align: center;
	text-transform: uppercase;
	color: #dcc06d;
	width: 100%;
	padding: 0.7em 0;
	background: #000;
	background: rgba(0, 0, 0, 0.7);
}
.ModelListItem--Overlay{
	color: #fff;
	display: table;
	opacity: 0;
	position: absolute;
	top: 0;
	height: 290px;
	width: 101%;
	background: rgba(0,0,0,0.7);
	transition: 0.5s all ease;
}
.ModelList li a:hover .ModelListItem--Overlay {
	opacity: 1;
}
.ModelListItem--Overlay span {
	font-size: 1.25rem; /* 20px / 16px */
	line-height: 1.2em;
	font-weight: 100;
	text-transform: uppercase;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 1em;
}
.PageContent--ModelList .pagination{
	position: relative;
	float: right;
	left: -50%;
	top: 1.4em;
}
.PageContent--ModelList .pagination--numbers{
	position: relative;
	left: 50%;
	list-style: none;
	margin: 0;
}
.PageContent--ModelList .pagination--numbers li{
	float: left;
	margin: 0 0.2em;
}
.PageContent--ModelList .pagination--numbers a {
	text-decoration: none;
	color: #000;
	transition: all .3s ease;
}
.PageContent--ModelList .pagination--numbers a,
.PageContent--ModelList .pagination--numbers .current{
	font-weight: 300;
	padding: 0.15em 0.6em;
}
.PageContent--ModelList .pagination--numbers a.prev{
	padding-right: 1em;
	border-right: 1px solid #000;
}
.PageContent--ModelList .pagination--numbers a.next{
	padding-left: 1em;
	border-left: 1px solid #000;
}
.PageContent--ModelList .pagination--numbers a:hover,
.PageContent--ModelList .pagination--numbers .current{
	background: #dcc06d;
}
.PageContent--ModelList .pagination--numbers a.prev:hover,
.PageContent--ModelList .pagination--numbers a.next:hover{
	color: #dcc06d;
	background: none;
}


/* STRIPPERS and MODELS PROFILE PAGE and SINGLE PACKAGE PAGE */
.Notifications{
	text-align: center;
	width: 50%;
	padding: 1em;
	margin: 0 auto 3em;
	background: #ddd;
}
.Notifications .button{
	display: inline-block;
	margin-bottom: 0;
}


.PageContent--ModelProfile--HeroImage,
.PageContent--SinglePackage--HeroImage{
	width: 100%;
	height: 450px;
	overflow: hidden;
	margin-bottom: 3.6em;
}
.PageContent--ModelProfile--Services,
.PageContent--ModelProfile--Gallery,
.PageContent--SinglePackage--LongDesc,
.PageContent--SinglePackage--Gallery,
.PageContent--SinglePackage--Cost{
	width: 48%;
}
.PageContent--ModelProfile--Services,
.PageContent--SinglePackage--LongDesc{
	float: left;
}
.PageContent--ModelProfile--Gallery,
.PageContent--SinglePackage--Gallery,
.PageContent--SinglePackage--Cost{
	float: right;
}
.PageContent--SinglePackage--Cost .AddToWishlist,
.PageContent--SinglePackage--Cost .RemoveFromWishlist{
	display: table;
	text-align: left;
	padding: 0.8em 6em;
}
.PageContent--SinglePackage--Gallery{
	margin-bottom: 2em;
}

.PageContent--ModelProfile--Services .ServicesList{
	list-style: none;
	margin: 0;
}
.PageContent--ModelProfile--Services .ServicesList li{
	color: #fff;
	padding: 0.8em 1em 0.8em 1.5em;
	margin-bottom: 0.6em;
	background: #221f1f;
}
.PageContent--ModelProfile--Services .ServicesList .AddToWishlist,
.PageContent--ModelProfile--Services .ServicesList .RemoveFromWishlist{
	cursor: pointer;
	float: right;
	font-size: 0.875rem;
	color: #dcc06d;
	padding: 0;
}
.PageContent--ModelProfile--Services .ServicesList .AddToWishlist .fa,
.PageContent--ModelProfile--Services .ServicesList .RemoveFromWishlist .fa{
	margin-right: 0.5em;
}
.PageContent--ModelProfile--Services .ServicesList .AddToWishlist:hover,
.PageContent--ModelProfile--Services .ServicesList .RemoveFromWishlist:hover{
	color: #fff;
}

.PageContent--ModelProfile--Gallery .GalleryList,
.PageContent--SinglePackage--Gallery .GalleryList{
	list-style: none;
	margin: 0;
}
.PageContent--ModelProfile--Gallery .GalleryList li,
.PageContent--SinglePackage--Gallery .GalleryList li{
	float: left;
	width: 140px;
	height: 158px;
	margin-right: 20px;
	overflow: hidden;
}
.PageContent--ModelProfile--Gallery .GalleryList li:last-child,
.PageContent--SinglePackage--Gallery .GalleryList li:last-child{
	margin-right: 0;
}

.PageContent--OtherGirls{
	padding-top: 3.6em;
	margin-top: 3.6em;
	border-top: 1px solid #dcc06d;
}
.PageContent--OtherGirls h2{
	margin-bottom: 0.75em;
}


/* PARTY PACKAGES PAGE */
.PageContent--Packages--Item{
	margin-bottom: 1.25em;
}
.PageContent--Packages--Item img{
	float: left;
	/*width: 312px;
	margin-right: 1.25em;
	margin-bottom: 1.25em;*/
	width: 34%;
	margin-right: 2.5%;
}
.PageContent--Packages--Item h3{
	font-weight: 100;
	color: #fff;
	padding: 0.26em 0.5em;
	background: #221f1f;
}
.PageContent--Packages--Item .ItemContent{
	position: relative;
	padding: 11px;
	border: 1px solid #dcc06c;
}
.PageContent--Packages--Item .ItemContent:after{
	content: " ";
	clear: both;
	float: none;
	display: block;
}
.PageContent--Packages--Item .ItemContent--Copy{
	float: left;
	width: 63.5%;
	max-width: 590px;
}
.PageContent--Packages--Item h4{
	width: 88%;
	margin-bottom: 1em;
}
.PageContent--Packages--Item .price{
	position: absolute;
	top: -3px;
	right: -2px;
	font-weight: bold;
	padding: 0.6em 1em;
	background: #dcc06c;
}
.PageContent--Packages--Item .ItemContent--Copy ul{
	list-style: disc;
}

/* SERVICES */

.ItemContent.ItemContent__Services {
	width: 48%;
	height: auto;
	float: left;
	margin-bottom: 1.25em;
}

.ItemContent.ItemContent__Services img {
	float: left;
	/*width: auto;
	max-height: 100%;*/
	width: 32%;
	margin-right: 4.5%;
	height: auto;
}

.ItemContent.ItemContent__Services:nth-of-type(odd) {
	margin-right: 4%;
}

.ItemContent.ItemContent__Services .ItemContent--Copy {
	float: left;
	font-size: 0.875rem; /* 14px */
	line-height: 1.3em;
	width: 63.5%;
	max-width: 275px;
	margin-top: 0;
}
.ItemContent.ItemContent__Services .ItemContent--Copy:after{
	content: " ";
	float: none;
	clear: both;
}
.ItemContent.ItemContent__Services .ItemContent--Copy p a{
	display: none;
}


/* BOOKING PAGE */
.PageContent--BookingProcess{
	float: left;
	/*width: 640px;*/
	width: 66.6%;
	max-width: 640px;
}
.PageContent--BookingProcess-step{
	margin-bottom: 4em;
}
.PageContent--BookingProcess-step-headline{
	font-family: 'Open Sans Condensed';
	font-size: 1.25rem; /* 20px / 16px */
	text-transform: uppercase;
	color: #fff;
	padding: 1em 0 1em 11.5em;
	margin-bottom: 1.2em;
	background: url(images/arrow_step.png) no-repeat 0 center, #221f1f;
}
.PageContent--BookingProcess-step-headline span{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: none;
	color: #221f1f;
	position: absolute;
	left: 2.6em;
}
.PageContent--BookingProcess .BookingForm select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;

	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	width: 100%;
	padding: 10px;
	border: 8px solid #dcc06c;
	webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	background: url(images/arrow_down.png) no-repeat 98% center, #fff;
}
.PageContent--BookingProcess .BookingForm .service-cat{
	list-style: none;
	margin: 0 0 1.5em;
}
.PageContent--BookingProcess .BookingForm .service-cat li{
	cursor: pointer;
	float: left;
	/*width: 193px;
	margin-right: 30px;*/
	width: 32%;
	margin-right: 2%;
	text-align: center;
	padding: 1.2em;
	background: #e6e6e6;
	transition: all .3 ease;
}
.PageContent--BookingProcess .BookingForm .service-cat li:last-child{
	margin-right: 0;
}
.PageContent--BookingProcess .BookingForm .service-cat li.active,
.PageContent--BookingProcess .BookingForm .service-cat li:hover{
	background: #dcc06c;
}
.PageContent--BookingProcess .BookingForm .service{
	list-style: none;
	margin: 0;
}
.PageContent--BookingProcess .BookingForm .service > li{
	margin-bottom: 0.25em;
}
.PageContent--BookingProcess .BookingForm .service .service-title{
	cursor: pointer;
	display: block;
	padding: 0.8em 1.5em;
	background: url(images/arrows_up-down.png) no-repeat 97% 0, #e6e6e6;
	transition: all .3s ease;
}
.PageContent--BookingProcess .BookingForm .service li.active .service-title,
.PageContent--BookingProcess .BookingForm .service .service-title:hover{
	background: url(images/arrows_up-down.png) no-repeat 97% 100%, #dcc06c;
}
.PageContent--BookingProcess .BookingForm .service .service-content{
	font-size: 0.875rem; /* 14px / 16px */
	padding: 1.7em 1.7em 0;
	background: #e6e6e6;
}
.PageContent--BookingProcess .BookingForm .service .service-content strong{
	display: block;
	font-size: 1rem;
	margin-bottom: 1em;
}
.PageContent--BookingProcess .BookingForm .service .service-content .button{
	cursor: pointer;
	display: inline-block;
}
.PageContent--BookingProcess .BookingForm .service .service-content .button .fa{
	margin-right: 0.5em;
}
.PageContent--BookingProcess .BookingForm .model{
	list-style: none;
	margin: 0;
}
.PageContent--BookingProcess .BookingForm .model li{
	cursor: pointer;
	float: left;
	position: relative;
	width: 176px;
	margin: 0 30px 24px 0;
}
.PageContent--BookingProcess .BookingForm .model li:nth-child(3n){
	margin-right: 0;
}
.PageContent--BookingProcess .BookingForm .model li .addToWishlist{
	position: absolute;
	right: -3px;
	top: -2px;
	text-indent: -9999em;
	width: 30px;
	height: 30px;
	background: url(images/add_to_wishlist.png) no-repeat 0 0, #000;
}
.PageContent--BookingProcess .BookingForm .model li:hover .addToWishlist{
	background: url(images/add_to_wishlist.png) no-repeat 0 -30px, #000;
}
.PageContent--BookingProcess .BookingForm .model li.added .addToWishlist{
	background: url(images/add_to_wishlist.png) no-repeat 0 -60px, #000;
}
.PageContent--BookingProcess .BookingForm .model li.added:hover .addToWishlist{
	background: url(images/add_to_wishlist.png) no-repeat 0 -90px, #000;
}
.PageContent--BookingProcess .BookingForm .model li span.model-name {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1rem;
	text-align: center;
	text-transform: uppercase;
	color: #dcc06d;
	width: 100%;
	padding: 0.7em 0;
	background: #000;
	background: rgba(0, 0, 0, 0.7);
}
.PageContent--BookingProcess-step.StepThree input[type=submit]{
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #221f1f;
	width: 100%;
	padding: 0.75em 0;
	border: none;
	border-radius: 0;
	background: #dcc06c;
	transition: all .3s ease;
	-webkit-appearance: none;
}
.PageContent--BookingProcess-step.StepThree input[type=submit]:hover{
	color: #dcc06c;
	background: #221f1f;
}

.StepThree--formActions form{
	float: left;
	width: 31.33333333%%;
	margin: 0 3% 0 0;
}
.StepThree--formActions form:last-child{
	margin-right: 0;
}


.formWrapper {
	position: relative;
}

/* SIDEBAR */
.PageContent--sidebar{
	float: right;
	/*width: 240px;*/
	width: 25%;
	max-width: 240px;
}

.PageContent--sidebar form {
  width: 100%;
  margin-bottom: 5%;
}

.PageContent--sidebar .PageContent--BookingProcess-step.StepThree {
  margin-bottom: 0;
}

/* CART */
.PageContent--sidebar-cart-headline{
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #dcc06c;
	padding-bottom: 0.3em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #dcc06c;
}
.PageContent--sidebar-cart-headline span.icon{
	float: right;
}
.PageContent--sidebar-cart-headline--text {
	float: left;
}
#cartContents {
	position: relative;
}
.cart-loader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: 1s all ease;
}
.cart-loader.show {
  opacity: 1;
  z-index: 2;
}
img.cart-loader--spinner {
  margin: auto;
  display: block;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

@-webkit-keyframes spinnerRotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}
@-moz-keyframes spinnerRotate {
	from {
		-moz-transform:rotate(0deg);
	}
	to {
		-moz-transform:rotate(360deg);
	}
}
img.cart-loader--spinner{
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spinnerRotate;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	background: rgba(255, 255, 255, 0.1);
}

.CartItem{
	position: relative;
	font-size: 0.875rem; /* 14px / 16px */
	margin-bottom: 2em;
}
.CartItem--remove {
	font-weight: bold;
	/*position: absolute;
	right: 0;*/
	font-size: 25px;
	/*top: 27px;*/
	cursor: pointer;
	margin-top: -20px;
	float: right;
}
.CartItem--amount select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;

	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	width: 20%;
	padding: 0 4px;
	margin: 0 0 0.4em 0.5em;
	border: 2px solid #dcc06c;
	webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	background: url(images/arrow_down.png) no-repeat 94% center, #fff;
	background-size: 30%;

}
.CartItem--amount > span,
.CartItem--amount > select {
	float: left;
}
.CartItem--amount > select + div > span:not(.subtotal){
	clear: both;
	float: left;
}
.CartItem--amount > select + div > select{
	float: left;
}
.CartItem:last-child{
	margin-bottom: 1.5em;
}
.CartItem--title{
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	padding: 0.2em 6px;
	margin-bottom: 0.5em;
	margin-bottom: 2em;
	background: #221f1f;
}
.CartItem--amount input[type=number]{
	width: 2em;
	margin: 0 0.5em 1em 0;
}
.CartItem--amount span.subtotal{
	float: right;
	font-weight: bold;
}
.CartItem--amount:after{
	content: " ";
	clear: both;
	float: none;
	display: block;
}
.CartItem--wishlist{
	margin-top: 1em;
}
.CartItem--wishlist-title{
	text-transform: uppercase;
	color: #dcc06c;
}
.CartItem--wishlist-title span{
	margin-right: 0.75em;
}
.CartItem .wishlist{
	list-style: disc;
	margin: 0 0 0 3em;
}
.CartTotal{
	padding-top: 0.5em;
	border-top: 1px solid #221f1f;
}
.CartTotal button{
	cursor: pointer;
	font-size: 0.875rem; /* 14px / 16px */
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.8em 1em;
	margin: 0 0 1em 0;
	border: none;
	background: #e6e6e6;
	transition: all .3s ease;
}
.CartTotal button:hover{
	color: #e6e6e6;
	background: #221f1f;
}
.CartTotal button.checkout{
	background: #dcc06c;
}
.CartTotal button.checkout:hover{
	color: #dcc06c;
	background: #221f1f;
}
.CartTotal button.ViewCart{
	float: right;
}
.CartSum{
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 1em;
	margin: 0.5em 0;
}
.CartSum:last-child{
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	padding: .9em 1em;
	background: #221f1f;
}
.CartSum span.value{
	float: right;
}


/* CHECKOUT */
.panelCheckout h3{
	text-align: center;
	margin-bottom: 1em;
}
.panelCheckout h4{
	text-align: center;
	width: 84%;
	max-width: 800px;
	padding-bottom: 0.2em;
	margin: 0 auto 1.5em;
	border-bottom: 1px solid #333;
}
.panelCheckout p{
	font-size: 1.125rem;
	line-height: 1.3em;
	text-align: center;
	width: 67%;
	max-width: 640px;
	margin: 0 auto 4.5em;
}
.cart-checkout,
.payment-form{
	width: 84%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}
.cart-checkout{
	margin-bottom: 5em;
}
.cart-checkout thead tr{
	text-transform: uppercase;
	background: #dcc06c;
}
.cart-checkout thead th,
.cart-checkout tbody td{
	padding: 1em;
}
.cart-checkout tbody td{
	text-align: center;
	background: #eee;
	/*border: 1px solid #ddd;*/
}
.cart-checkout tbody tr:nth-child(2n) td{
	background: #ddd;
}
.cart-checkout thead th:first-child,
.cart-checkout tbody td:first-child{
	text-align: left;
}
.cart-checkout tbody tr.total td{
	border: none;
	border-top: 20px solid #fff;
	background: none;
}
.cart-checkout tbody tr.total td:nth-child(6),
.cart-checkout tbody tr.total td:last-child{
	color: #fff;
	background: #221f1f;
}

.cart-checkout.cart-contact tbody td{
	text-align: left;

}
.cart-checkout.cart-contact tbody td:first-child{
	font-weight: 600;
	text-transform: uppercase;
	width: 25%;
}
.cart-checkout p {
	text-align: center;
}

.cart-checkout .button {
	margin: 10px auto;
}


.payment-form{
	margin-bottom: 4em;
}
.payment-form .column{
	float: left;
	width: 47.5%;
	margin-right: 5%;
}
.payment-form .column:nth-child(2n){
	margin-right: 0;
}
.payment-form .form-row{
	margin-bottom: 0.5em;
}
.payment-form .form-row label{
	display: block;
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0.3em;
}
.payment-form .form-row input,
.payment-form .form-row textarea{
	width: 100%;
	padding: 0.5em;
	border: 3px solid #e3cd89;
	outline: none;
	border-radius: 0;
	background: #fff;
	box-shadow: none;
	-webkit-appearance: none;
}
.payment-form .form-row.form-row-submit{
	clear: both;
	float: none;
	width: 47.5%;
	margin: 0 auto;
}
.payment-form .form-row input[type="submit"]{
	cursor: pointer;
	font-size: 1.125rem; /* 18px */
	text-transform: uppercase;
	color: #fff;
	background: #484848;
	padding: 0.6em;
	border: none;
	border-radius: 0;
	transition: all .3s ease;
	-webkit-appearance: none;
}
.payment-form .form-row input[type="submit"]:hover{
	color: #322f30;
	background: #e3cd89;
}

.payment-form.credit-card .form-row{
	float: left;
	width: 47.5%;
	margin-right: 5%;
}
.payment-form.credit-card .form-row:nth-child(2n){
	margin-right: 0;
}
.payment-form.credit-card .form-row select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;

	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	width: 100%;
	padding: 10px;
	border: 3px solid #dcc06c;
	webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	background: url(images/arrow_down.png) no-repeat 94% center, #fff;
	background-size: 15%;
}
.payment-form.credit-card .form-row select:last-child{
	float: right;
}
.payment-form.credit-card .form-row.form-row-submit{
	float: none;
	margin-right: auto;
}

.parsley-errors-list{
	list-style: none;
	color: red;
	margin: 0;
}
.payment-error h2,
.payment-success h2{
	margin-bottom: 1em;
}
.payment-error h2{
	color: #333;
}
.payment-success h3{
	text-align: center;
}
.payment-success p{
	font-size: 1.125rem;
	line-height: 1.3em;
	text-align: center;
	width: 67%;
	max-width: 640px;
	margin: 0 auto 4.5em;
}
.payment-error p{
	font-weight: 600;
	text-align: center;
	color: red;
}

.page-cart #checkout-actions {
	max-width: 800px;
	margin: 0 auto;
}


/* BLOG */
.blog .PageContent--sidebar{
	float: left;
}
.blog .PageContent--sidebar span{
	display: block;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #221f1f;
}
.blog .PageContent--sidebar ul{
	list-style: none;
	margin: 0 0 1.5em;
}
.blog .PageContent--sidebar ul a{
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: #dcc06c;
	padding: 0.6em 0;
	transition: all 0.3s ease;
}
.blog .PageContent--sidebar ul a:hover{
	padding: 0.6em 1em;
	background: #221f1f;
}

.blog .PageContent{
	float: right;
	width: 66.6%;
}
.blog h3 a{
	font-weight: normal;
}
.entry-meta a:hover, .entry-utility a:hover{
	color: #dcc06c;
}
.entry-summary a{
	display: table;
	font-size: 0.875rem;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0.8em 1.5em;
	margin: 1em 0;
	border: none;
	background: #221f1f;
}
.entry-summary a:hover{
	color: #333;
	background: #dcc06c;
}


/* CONTACT PAGE */

.map{
	float: left;
	width: 50%;
	margin-right: 20px;
}


/* =Modal 
-------------------------------------------------------------- */
.Modal {
	background: rgba(0,0,0,0.8);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
}

.ModalBox {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	background: rgb(255, 255, 255);
	padding: 20px;
	height: 265px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.Modal__hidden {
	display: none;
}

/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}

#order-checkout {
	position: relative;
}

.Checkout-Item--remove {
	font-weight: bold;
	cursor: pointer;
}

div.wpcf7-response-output {
  float: left;
  width: 100%;
  padding: 10px;
}

.form-row--column:last-child {
  margin-right: 0;
}
.form-row--column {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.CTABlock--title h3 a {
	text-decoration: none;
	color: inherit;
}
.SiteHeader--location select {
	background-size: 10%;
	padding: 5px 10px;
	width: 120%;
	z-index: 9;
}
.SiteHeader--location {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 10px;
	z-index: 9;
}