/*
Notes: You shouldn't really have to mess with anything down here. Unless you are drastically chaning the Twenty Ten theme.
	
/* --------------------------------------------------------*/
/*-----------------MMMMM----------MMMMM----E---------------*/
/*-----------------MMMMMM--------MMMMMM------D-------------*/
/*-----------------MMMMMMM------MMMMMMM----Q---I-----------*/
/*-----------------MMMMMMMM----MMMMMMMM------U---A---------*/
/*-----------------MMMMMMMMM--MMMMMMMMM--------E-----------*/
/*-----------------MMMM-MMMMMMMMMM-MMMM----------R---------*/
/*-----------------MMMM--MMMMMMMM--MMMM------------I-------*/
/*-----------------MMMM---MMMMMM---MMMM--------------E-----*/
/*-----------------MMMM----MMMM----MMMM----------------S---*/
/*-----------------MMMM------------MMMM--------------------*/
/*-----------------MMMM------------MMMM--------------------*/
/*-----------------MMMM------------MMMM--------------------*/
/*-----------------MMMM------------MMMM--------------------*/
/*-----------------MMMM------------MMMM--------------------*/
/* --------------------------------------------------------*/

@media only screen and (min-width: 481px) and (max-width: 1024px){	  
	#access,
	#access .menu-header,
	div.menu,
	#colophon,
	#branding,
	#main,
	#footer {
	    margin: 0 auto;
	    width: 100%;
	}
	  
	#branding{
		overflow: hidden;
	}
	
	/*
	LAYOUT: Responsive Images & Video
	DESCRIPTION: Responsive.
	*/
	#content img {
		margin: 0;
		height: auto;
		max-width: 100%;
		width: auto;
	}
	
	img, object, embed, iframe, #content .wp-caption {
		max-width: 100%;
	}
	
	#content .wp-caption img{
		max-width: 95%;
	}
	  
	/*
	LAYOUT: Two columns
	DESCRIPTION: Responsive.
	940 = 720 + 220
	100% = 76.5957447% + 23.40425535% 
	*/
	
	#container {
		float: left;
		margin: 0 -25.5319149% 0 0;
		width: 99%;
	}
	#content {
		width: 68.5957447%;
		/*margin: 0 29.787234% 0 20px;*/
		margin: 0 29.787234% 0 20px;
	}
	#primary,
	#secondary {
		overflow: hidden;
		width: 23.40425535% /* 200px / 940px */ 
	}
	
	#site-title, #site-info {
		width:74.4680851% /* 700px / 940px */
	}
	
	#footer-widget-area .widget-area,
	#site-generator,
	#site-description  {
		width: 23.40425535% /* 200px / 940px */ 
	}

} /* This belongs here. It goes to @media only screen and (min-width: 481px) and (max-width: 1024px) */




/******************************************/

@media only screen and (min-width: 1320px){
	.SiteHeader--hero .metaslider .caption-wrap{
		top: 540px;
		bottom: auto;
	}
}

/* iPad landscape and smaller */
@media only screen and (max-width: 1024px){
	.SiteHeader--meta{
		top: 25px;
		right: 140px;
	}
	.SiteHeader--location {
		top: 20px;
	}
	.SiteHeader--meta--phone{
		font-size: 1em;
	}
	.SiteHeader--menu{
		font-size: 0.95rem;
		top: 60px;
	}
	.SiteHeader--menu ul li{
		margin-left: 1em;
	}
	.SiteHeader--menu ul ul {
		top: 13px;
	}
	.SiteHeader--logo{
		left: 0;
	}
	.SiteHeader--logo img{
		width: 90%;
	}
	.CTABlock{
		height: auto;
	}
	.CTABlock--FeatImg--Overlay{
		opacity: 1;
		top: auto;
		bottom: 0;
		height: auto;
	}
	.CTABlock--FeatImg--Overlay span{
		font-size: 0.8rem;
	}
	.ModelListItem--Name{
		bottom: 30px;
		font-size: 0.8rem;
		height: 30px;
		padding: 0.4em;
		border-bottom: 1px solid rgba(220, 192, 109, 0.5);
	}
	.ModelListItem--Overlay{
		opacity: 1;
		top: auto;
		bottom: 0;
		width: 100.5%;
		height: auto;
	}
	.ModelListItem--Overlay span{
		font-size: 0.8rem;
		height: 30px;
		padding: 0;
	}
}

/* < 1000px */
@media screen and (max-width: 999px) {
	.menu-footer{
		width: 100%;
		margin-bottom: 3em;
	}
	.SiteFooter .meta{
		width: 100%;
	}

	/* BOOKING PAGE */
	.PageContent--BookingProcess .BookingForm .model li:nth-child(3n){
		margin-right: 30px;
	}
}

/* iPad portrait and smaller */
@media screen and (max-width: 768px) {
	.SiteHeader--logo img{
		width: 80%;
	}
	.SiteHeader--menu{
		font-size: 0.78rem;
	}
	.CTABlock--title{
		height: 50px;
	}
	.CTABlock--title h3{
		font-size: 1.4rem;
	}
	.PageContent--title p{
		width: 100%;
	}
	.ModelList li{
		width: 23%;
		margin: 0 2% 2% 0;
	}
	.ModelList li:nth-child(5n){
		margin-right: 2%;
	}
	.ModelList li:nth-child(4n){
		margin-right: 0;
	}

	.ItemContent.ItemContent__Services img,
	.PageContent--Packages--Item img{
		float: none;
		display: block;
		width: auto;
		margin: 0 auto 1em;
	}
	.ItemContent.ItemContent__Services .ItemContent--Copy,
	.PageContent--Packages--Item .ItemContent--Copy{
		text-align: center;
		width: 100%;
		max-width: none;
	}
	.PageContent--Packages--Item .ItemContent--Copy a{
		display: block;
		padding: 0.8em 0;
	}
	.PageContent--Packages--Item h4{
		width: 100%;
	}
	.Notifications{
		width: 100%;
	}
	.Notifications .button{
		display: block;
	}

	/* BOOKING PAGE */
	.PageContent--BookingProcess .BookingForm input[type=submit]{
		font-size: 0.8rem;
	}
}


/* < iPad portrait */
@media screen and (max-width: 767px) {
	/* BOOKING PAGE */
	.PageContent--BookingProcess{
		width: 100%;
		max-width: none;
	}
	.PageContent--BookingProcess .StepThree--formActions form{
		margin-bottom: 4em;
	}
	.PageContent--sidebar{
		width: 100%;
		max-width: none;
	}
}

/* off-canvas nav */
@media screen and (max-width: 660px) {
	h1, h2 {
		font-size: 2.625rem;
	}
	#top-menu {
		display: block;
		width: 100%;
		height: 60px;
		padding: 12px;
		background: #221f1f;
	}
	#top-menu .menu-trigger{
		text-indent: -9999em;
	}
	#top-menu .menu-trigger:before{
		background: #dcc06c;
		box-shadow: 0 6px #221f1f, 0 12px #dcc06c, 0 18px #221f1f, 0 24px #dcc06c;
	}
	.mp-menu .mp-level ul li > a{
		text-transform: none;
		text-shadow: none;
		text-decoration: none;
		border-bottom: 1px solid #ddd;
		box-shadow: none;
	}
	.mp-menu .mp-level > ul > li:first-child > a{
		box-shadow: none;
	}


	.SiteHeader--menu,
	.SiteHeader--logo{
		display: none;
	}
	.SiteHeader--meta{
		top: -55px;
		right: 15px;
	}
	.SiteHeader--location {
	  top: -30px;
	  right: 30px;
	}

	#access {
		display: none;
	}
	
	#access,
	#access .menu-header,
	div.menu,
	#colophon,
	#branding,
	#main,
	#footer {
		margin: 0 auto;
		width: 100%;
	}
	
	#branding  {
		overflow:hidden;
	}
	
	#site-title {
		width: 100%;
	}
	
	#container {
		float: left;
		width: 100%;
	}
	
	#content {
		width: 99%;
		margin: 0 0px 0 0px;
	}
	
	#primary,
	#secondary {
		float: left;
		overflow: hidden;
		width: 99%; 
	}
	#secondary {
		clear: left;
	}
	
	#site-generator, #site-description, #site-info, #site-title {
		clear: left;
		float: left;
		width: 95%;
		padding: 0;
		margin: 0;
	}
	
	/*
	LAYOUT: Responsive Images
	DESCRIPTION: Responsive.
	*/
	  
	#content img {
		margin: 0;
		height: auto;
		max-width: 100%;
		width: auto;
	}
	
	img, object, embed, #content .wp-caption {
		max-width: 100%;
	}
	
	#content .wp-caption{
		width: 100%;
	}
	
	#content .wp-caption img{
		max-width: 90%;
	}
	
	#content .wp-caption.alignleft{
		float: left;
	}
	#content .wp-caption.alignright{
		float: right;
	}
	#content .alignleft,
	#content img.alignleft {
		display: block;
		float: none;
		margin: 0px auto;
		padding: 0px 0px 5px 0px;
	}
	#content .alignright,
	#content img.alignright {
		display: block;
		float: none;
		margin: 0px auto;
		padding: 0px 0px 5px 0px;
	}

} /* @media screen and (max-width: 660px) */

/* small tablet */
@media screen and (min-width: 415px) and (max-width: 600px) {
	.CTABlock{
		width: 31%;
		margin-right: 3.5%;
		margin-bottom: 5%;
	}
	.CTABlock:nth-child(3n){
		margin-right: 0;
	}
	.CTABlock:nth-child(4n){
		margin-left: 17.25%;
	}
	.CTABlock--title{
		height: 50px;
	}
	.CTABlock--title h3{
		font-size: 1.3rem;
	}
}

/* iPhone 6 Plus and smaller */
@media screen and (max-width: 414px) {
	html{
		font-size: 14px;
	}
	.panel > .wrapper{
		padding: 50px 20px 40px;
	}
	.SiteHeader--hero .metaslider .caption-wrap{
		display: none;
	}
	.CTABlock{
		width: 48%;
		margin-right: 4%;
		margin-bottom: 5%;
	}
	.CTABlock:nth-child(3n){
		margin-right: 4%;
	}
	.CTABlock:nth-child(2n){
		margin-right: 0;
	}
	.CTABlock:last-child{
		float: none;
		margin: 0 auto;
	}
	.CTABlock--title{
		height: auto;
	}
	.CTABlock--title h3{
		font-size: 1.5rem;
	}
	.SteppedProgressBar ul li{
		width: 100%;
		height: auto;
		overflow: visible;
		border-bottom: 1px solid #000;
	}
	.SteppedProgressBar ul li:after,
	.SteppedProgressBar ul li:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	.SteppedProgressBar ul li:after {
		z-index: 9999;
		border-color: rgba(146, 128, 77, 0);
		border-top-color: #92804d;
		border-width: 20px;
		margin-left: -20px;
	}
	.SteppedProgressBar ul li:before {
		z-index: 999;
		border-color: rgba(0, 0, 0, 0);
		border-top-color: #000;
		border-width: 21px;
		margin-left: -21px;
	}
	.SteppedProgressBar ul li:first-child:after{
		border-color: rgba(226, 197, 111, 0);
		border-top-color: #e2c56f;
	}
	.SteppedProgressBar ul li:last-child:after,
	.SteppedProgressBar ul li:last-child:before{
		display: none;
	}
	.SteppedProgressBar ul li .step-text{
		height: auto;
		padding: 1.6em 0 1.4em;
		margin-top: 0;
	}
	.SteppedProgressBar ul li:first-child .step-text{
		padding: 1.5em 0;
	}
	.SteppedProgressBar ul li .step-text strong{
		display: inline;
		text-transform: uppercase;
		letter-spacing: 0;
		margin-right: 0.5em;
	}
	.SteppedProgressBar ul li .arrow-background{
		display: none;
	}
	.ContactWidget{
		width: 100%;
	}
	.ContactWidget--form .column{
		width: 100%;
		margin-right: 0;
	}
	.ModelList li{
		width: 31%;
		margin: 0 3.5% 3.5% 0;
	}
	.ModelList li:nth-child(5n),
	.ModelList li:nth-child(4n){
		margin-right: 3.5%;
	}
	.ModelList li:nth-child(3n){
		margin-right: 0;
	}

	.PageContent{
		text-align: center;
	}
	.PageContent--title{
		margin-bottom: 2em;
	}

	.map{
		float: none;
		width: 100%;
		margin-right: 0;
		margin-bottom: 1em;
	}
}

/* < iPhone 6 Plus */
@media screen and (max-width: 413px) {
	.SiteHeader--meta form{
		display: none;
	}
	.ModelList li{
		width: 48.5%;
		margin: 0 3% 3% 0;
	}
	.ModelList li:nth-child(5n),
	.ModelList li:nth-child(4n),
	.ModelList li:nth-child(3n){
		margin-right: 3%;
	}
	.ModelList li:nth-child(2n){
		margin-right: 0;
	}

	/* BOOKING PAGE */
	.PageContent--BookingProcess-step-headline{
		padding: 1em;
		background: #221f1f;
	}
	.PageContent--BookingProcess-step-headline span{
		position: relative;
		left: auto;
		color: #dcc06c;
	}
	.PageContent--BookingProcess .BookingForm .service .service-content{
		padding-bottom: 0.5em;
	}
	.PageContent--BookingProcess .BookingForm .service .service-content .button{
		display: block;
		width: 100%;
		padding: 0.8em;
	}
	.PageContent--BookingProcess .BookingForm .model li{
		float: none;
		margin: 0 auto 2em;
	}
	.PageContent--BookingProcess .StepThree--formActions form{
		float: none;
		width: 100%;
		margin-bottom: 1em;
	}
}

/* iPhone 6 and smaller */
@media screen and (max-width: 375px) {
	.ItemContent.ItemContent__Services{
		width: 100%;
	}
	.ItemContent.ItemContent__Services:nth-of-type(odd){
		margin-right: 0;
	}
}




/******************************************/



/*
/* We left these here for you incase you needed them. You do not need to add anything for the Videos or Images.
/*
/*
/* Media = iPad orientation: landscape */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	
}/* This belongs here. It goes to @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) */

/*--------------------------------------------------------------------------------*/

/* Media = iPad orientation: portrait */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

}/* This belongs here. It goes to @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) */

/*--------------------------------------------------------------------------------*/

/* Media = Mobile - iPhone */

@media handheld, only screen and (max-device-width: 480px) {
	iframe, object, embed{
		width: 100%;
		height: auto;
	}
	#content pre {
		font-size: 60%;
		overflow: hidden;
		padding: 1em;
	}
	
	#content code {
		font-size: 50%;
		margin-bottom: 24px;
	}
	.PageContent--BookingProcess-step.StepThree {
		max-height: 84%;
		margin: 0 auto;
	}
	.StepThree--formActions form {
		display: block;
		width: 100%;
	}
	.page-cart #checkout-actions {
		max-width: 84%
	}
	.payment-form .column {
		width: 100%;
	}
	.PageContent--ModelProfile--Services .ServicesList li {
		font-size: 11px;
	}
	.PageContent--ModelProfile--Services .ServicesList .AddToWishlist, 
	.PageContent--ModelProfile--Services .ServicesList .RemoveFromWishlist {
		float: none;
	}
	.PageContent--ModelProfile--Services, .PageContent--ModelProfile--Gallery, 
	.PageContent--SinglePackage--LongDesc,
	.PageContent--SinglePackage--Gallery, 
	.PageContent--SinglePackage--Cost {
		width: 100%
	}
}/* This belongs here. It goes to @media handheld, only screen and (max-device-width: 480px) */
	
/* Media = Mobile - All Others - orientation:portrait */

@media handheld, only screen and (max-device-width: 480px) and (orientation:portrait) {
	iframe, object, embed{
		width: 100%;
		height: auto;
	}
	
	#content pre {
		font-size: 80%;
		overflow: hidden;
		padding: 1em;
	}

	#content code {
		font-size: 50%;
		margin-bottom: 24px;
	}
}/* @media handheld, only screen and (max-device-width: 480px) and (orientation:portrait) */

/* Media = Mobile - All Others - orientation:landscape */

@media handheld, only screen and (max-device-width: 767px) and (orientation:landscape) {
	iframe, object, embed{
		width: 100%;
		height: auto;
	}
}/* This belongs here. It goes to @media handheld, only screen and (max-device-width: 767px) and (orientation:landscape) */


/* Mobile */
@media only screen and (max-width: 767px) {
	
	table th { font-weight: bold; }
	table td, table th { padding: 9px 10px; text-align: left; }
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; -webkit-overflow-scrolling: touch; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; -webkit-overflow-scrolling: touch; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	
	
}

/*
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

		.cart-checkout tbody tr.total td {
			border-top: 0;
			border: 0;
			padding: 0;
		}

		/* Force table to not be like tables anymore */
		#order-checkout table, 
		#order-checkout thead, 
		#order-checkout tbody, 
		#order-checkout th, 
		#order-checkout td, 
		#order-checkout tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		#order-checkout thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		#order-checkout tr { border: 1px solid #ccc; }

		#order-checkout tr:not(.total) td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		#order-checkout tr:not(.total) td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 14px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
			font-weight: bold;
		}

		/*
		Label the data
		*/
		#order-checkout tr:not(.total) td:nth-of-type(1):before { content: "Service"; }
		#order-checkout tr:not(.total) td:nth-of-type(2):before { content: "Wishlist"; }
		#order-checkout tr:not(.total) td:nth-of-type(3):before { content: "Base Cost"; }
		#order-checkout tr:not(.total) td:nth-of-type(4):before { content: "Qty"; }
		#order-checkout tr:not(.total) td:nth-of-type(5):before { content: "Hrs / Pax"; }
		#order-checkout tr:not(.total) td:nth-of-type(6):before { content: "Subtotal"; }
		#order-checkout tr:not(.total) td:nth-of-type(7):before { content: "Remove"; }

		#order-checkout tr.total td {
			border: 0;
			padding: 0;
			margin: 0;
		}

		.cart-checkout thead th:first-child, .cart-checkout tbody td:first-child {
			text-align: center;
		}

	}


